include *.txt
include LICENSE
recursive-include sphinx_stb_theme *.conf
recursive-include sphinx_stb_theme *.css
recursive-include sphinx_stb_theme *.eot
recursive-include sphinx_stb_theme *.html
recursive-include sphinx_stb_theme *.js
recursive-include sphinx_stb_theme *.svg
recursive-include sphinx_stb_theme *.ttf
recursive-include sphinx_stb_theme *.woff
recursive-include sphinx_stb_theme *.woff2
